
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/FileContentIndex/54e01f63-9f5e-466d-b4c3-074335a692e6.vsidx
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/FileContentIndex/92b4eb2f-cdbd-41cf-b2a0-e1ff68dcb71f.vsidx
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/FileContentIndex/cb04f186-0763-4463-8657-b3781acc576c.vsidx
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/FileContentIndex/e3768e36-ae57-46a9-adba-07449ef76468.vsidx
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/CoverletSourceRootsMapping_FinanceiroTest
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/Debug/net8.0/FinanceiroTest.AssemblyInfo.cs
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/Debug/net8.0/FinanceiroTest.AssemblyInfoInputs.cache
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/Debug/net8.0/FinanceiroTest.assets.cache
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/Debug/net8.0/FinanceiroTest.csproj.AssemblyReference.cache
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/Debug/net8.0/FinanceiroTest.GeneratedMSBuildEditorConfig.editorconfig
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/FinanceiroTest.csproj.nuget.dgspec.json
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/project.assets.json
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/project.nuget.cache
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/Debug/net8.0/PrjFinanceiro.AssemblyInfo.cs
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/Debug/net8.0/PrjFinanceiro.AssemblyInfoInputs.cache
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/Debug/net8.0/PrjFinanceiro.assets.cache
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/Debug/net8.0/PrjFinanceiro.GeneratedMSBuildEditorConfig.editorconfig
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/Debug/net8.0/rpswa.dswa.cache.json
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/PrjFinanceiro.csproj.nuget.dgspec.json
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/project.assets.json
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/project.nuget.cache
*.vsidx
*.vsidx
*.cache
*.cs
*.editorconfig
*.vsidx
*.vsidx
*.v2
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/DesignTimeBuild/.dtbcache.v2
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/FileContentIndex/cb04f186-0763-4463-8657-b3781acc576c.vsidx
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/FileContentIndex/e3768e36-ae57-46a9-adba-07449ef76468.vsidx
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17/.futdcache.v2
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17/.suo
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17/DocumentLayout.backup.json
AppMVC/PrjFinanceiroSLN/.vs/PrjFinanceiroSLN/v17/DocumentLayout.json
AppMVC/PrjFinanceiroSLN/.vs/ProjectEvaluation/prjfinanceirosln.metadata.v9.bin
AppMVC/PrjFinanceiroSLN/.vs/ProjectEvaluation/prjfinanceirosln.projects.v9.bin
AppMVC/PrjFinanceiroSLN/.vs/ProjectEvaluation/prjfinanceirosln.strings.v9.bin
AppMVC/PrjFinanceiroSLN/FinanceiroTest/bin/Debug/net8.0/CoverletSourceRootsMapping_FinanceiroTest
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/Debug/net8.0/FinanceiroTest.AssemblyInfo.cs
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/Debug/net8.0/FinanceiroTest.AssemblyInfoInputs.cache
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/Debug/net8.0/FinanceiroTest.assets.cache
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/Debug/net8.0/FinanceiroTest.csproj.AssemblyReference.cache
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/Debug/net8.0/FinanceiroTest.GeneratedMSBuildEditorConfig.editorconfig
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/FinanceiroTest.csproj.nuget.dgspec.json
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/project.assets.json
AppMVC/PrjFinanceiroSLN/FinanceiroTest/obj/project.nuget.cache
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/Debug/net8.0/PrjFinanceiro.AssemblyInfo.cs
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/Debug/net8.0/PrjFinanceiro.AssemblyInfoInputs.cache
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/Debug/net8.0/PrjFinanceiro.assets.cache
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/Debug/net8.0/PrjFinanceiro.GeneratedMSBuildEditorConfig.editorconfig
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/Debug/net8.0/rpswa.dswa.cache.json
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/PrjFinanceiro.csproj.nuget.dgspec.json
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/project.assets.json
AppMVC/PrjFinanceiroSLN/PrjFinanceiro/obj/project.nuget.cache
